
.idea/
dist/
elm.js
elm-stuff/
node_modules/
tests/elm-stuff/
yarn.lock

experiments/
NOTES.adoc
NOTES.html
references.adoc
scratch.txt
tmp

bench.html
benchmarks.html
analysis.txt

src/LatexParser/LatexParser.html
